*, *::before, *::after {
	margin: 0;
	padding: 0;
}

:root {
    --primary-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
		--primary-color: #333;
  }
}

#root {
	background: var(--primary-color);
	height: 100dvh;
}
